@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family:'Libre Baskerville', serif;
}

/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	font-family: 'Raleway',sans-serif;

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {
	
}

h5, .h5 {

}

/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}
    
/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	.title-area {
		z-index: 1;
	}
} 

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	#inner-content {
		padding: 1rem 0rem;
	}
}

.single-title,
.page-title {
	
}

.single-title {
	
}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

// Post meta  
.byline,
.tags {
	color: #999;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} 

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
}

#searchsubmit {
}

.widgettitle {
}

.widget {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting  
			ul {}

		}
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	margin-top: 1em;
}
	
/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}



















.header {
  margin: 0 0 20px 0;
  position: absolute;
  top:0;
  width: 100%;
  z-index: 9999 !important;
  
  	.contain-to-grid {
  		background:none;
  		padding:35px 0;
  		position: relative;
  		@media(max-width:640px){
		  	padding:10px;
		}
  		
  		.top-bar {
		  background: none;
		}
	}

	img.site-logo {
		max-width: 350px;
		@media(max-width:767px){
			max-width: 300px;
		  	padding:3px;
		}
		@media(max-width:480px){
			max-width: 275px;
			padding:10px 5px;
			margin:-12px 0 0 -12px;
		}
		@media(max-width:374px){
			max-width: 235px;
			
		}
		
	}

}

.top-bar, .top-bar ul {
    background: none !important;
}

.custom-slider .timer {
	display:none;
}

#content {
	margin-top:130px;
	#inner-content {
		background:#fff;
		padding:10px;
	}
}

.home #content {
	margin-top:0;
}




.tp-bullets {
	padding:0 0 0 40px;
	z-index: 999;
	.bullet {
		background:#ccc !important;
		width:11px !important;
		height:11px !important;
		float:none !important;
		margin-bottom:15px !important;
		border-radius: 11px;
	}
	.selected {
		background:none !important;
		border:solid 2px #ccc;
		width:13px !important;
		height: 13px !important;
		margin-left:2px !important;
	}
}




.homepage-top-text {
	margin:125px auto;
	max-width:80%;
	padding:30px;
	text-align:center;
	@media(max-width:640px){
		padding:10px;
		font-size: 0.9em;
	}
	h1 {
		font-weight: 900;
		font-size: 4.5em;
		line-height: 1.2em;
		padding:25px 0;
		color:#000;
		@media(max-width:640px){
			font-size: 3em;
		}
	}
	h2 {
		font-size:2em;
		color:rgba(0,0,0,0.6);
		margin:20px 0;
		font-family: 'Libre Baskerville',serif;
		@media(max-width:640px){
			font-size: 1.6em;
		}
	}
}

.rounded {
	border-radius:25px;
}

.about-top-text {
	margin:-75px auto 75px auto;
	max-width:80%;
	padding:30px;
	text-align:center;
	@media(max-width:767px){
		margin-top:-125px;
	}
	h1 {
		font-weight: 900;
		font-size: 4.5em;
		line-height: 1.2em;
		padding:5px 0;
		color:#000;
		@media(max-width:640px){
			font-size: 3em;
		}
	}
	h2 {
		font-size:2em;
		color:rgba(0,0,0,0.6);
		margin:20px auto;
		max-width: 640px;
		font-family: 'Libre Baskerville',serif;
		@media(max-width:640px){
			font-size: 1.6em;
		}
	}
}


.homepage-services {
	padding:0 30px;
	margin-top:-40px;
	.columns {
		margin:15px 0;
	}
	h3 {
		font-size: 1em;
		font-weight: 700;
	}
	p {
		font-size: 0.8em;
		color: rgba(0,0,0,0.7);
	}
	.home-icon {
		background:#c5e3e7;
		padding:15px;
		text-align: center;
		border-radius:4px;
		i {
			font-family: 'FontAwesome';
			font-size: 3em;
			color: darken(#268ecf,20%);
			@media(max-width:640px){
				font-size: 1.8em;
			}
		}
	}
}

#work-tiles {
	max-width:980px;
	margin:80px auto !important;
	min-height:380px;
	clear:both;
	display:block;
	@media(max-width:980px){
		max-width:640px;
	}
}

.work-tile {
	margin:0;
	padding:0;
	position:relative;
	float:left;
	height:320px;
	width:320px;
	@media(max-width:640px){
		width: 50%;
		height: 280px;
	}
	@media(max-width:480px){
		height: 205px;
	}
	@media(max-width:410px){
		height: 185px;
	}
	@media(max-width:320px){
		height: 160px;
	}
	a {
		img {
			position:absolute;
			zoom:1;
			z-index: 2;
		}
		.info {
			opacity: 0;
			transition: all 0.3s ease;
			top:0;
			left:0;
			right:0;
			bottom:0;
			padding:0;
			margin:0;
			position: absolute;
			z-index: 1;
			h4 {
				color: #fff;
				text-align: center;
				font-weight: 900;
				padding:135px 50px;
				font-size: 2.2em;
				line-height: 1em;
				letter-spacing: -1px;
				@media(max-width:800px){
					padding:80px 0;
					font-size: 1.8em;
				}
				@media(max-width:640px){
					padding:65px 0;
					font-size: 1.4em;
				}
			}
		}
	}
}

.work-tile a:hover {
	img {
		zoom:1.5 !important;
	}
	.info {
		opacity: 1;
		width:100%;
		height: 100%;
		background:rgba(0,0,0,0.7);
		z-index: 3;
	}
}

#work-tiles h3 {
	text-align:center;
	font-size:2em;
	padding:0 0 50px 0;
	margin:0;
	color:#333; 
	font-family:'Libre Baskerville', serif;
}

.page-template-work {
	#inner-content {
		margin-top:100px;
	}
}
#client-list {
	max-width:980px;
	margin:100px auto 0 auto;
	clear:both;
	display:block;
	h3 {
		text-align:center;
		font-size:2em;
		padding:0 0 50px 0;
		margin:0;
		color:#333; 
		font-family:'Libre Baskerville', serif;
	}
	ul {
		li {
			list-style: none;
			float: left;
			width: 25%;
			padding:50px;
			text-align: center;
			opacity: 0.5 !important;
			@media(max-width:980px){
				width: 40%;
				margin-left:5%;
				padding:10px;
			}
		}
		li:hover {
			opacity: 1 !important;
		}
	}
}


.article-link {
	text-align:center;
	border-bottom:solid 1px rgba(0,0,0,0.2);
	padding-bottom:50px;
	margin-top:80px;
	@media(max-width:640px){
			padding-bottom:30px;
	margin-top:40px;
		}
	h2 {
		font-size: 5em;
		font-weight: 900;
		color: rgba(0,0,0,0.9);
		a {
			color: rgba(0,0,0,0.85);
		}
		@media(max-width:640px){
			font-size: 3em;
		}
	}
	h3 {
		font-size: 1.8em;
		font-weight: 300;
		color: rgba(0,0,0,0.5);
		font-family: 'Libre Baskerville', serif;
		max-width: 740px;
		margin:0 auto 40px auto;
		a {
			color: rgba(0,0,0,0.5);
		}
		@media(max-width:640px){
			font-size: 1.6em;
		}
	}
}

.article-link:last-child {
	border-bottom:none;
}


.single-page-header {
	background:rgba(0,0,0,0.75);
	text-align:center;
	padding:150px 0;
	margin-top:-150px;
	h1 {
		font-size: 6em;
		font-weight: 900;
		color: rgba(255,255,255,0.9);
		@media(max-width:640px){
			font-size: 3em;
		}
	}
	h3 {
		font-size: 1.8em;
		font-weight: 300;
		color: rgba(255,255,255,0.5);
		font-family: 'Libre Baskerville', serif;
		max-width: 980px;
		margin:0 auto 40px auto;
		@media(max-width:640px){
			font-size: 1.6em;
		}
	}
}

.single-page-content {
	background:rgba(0,0,0,0.05);
	border-top:solid 10px rgba(0,0,0,0.06);
	text-align:center;
	.row {
		max-width: 980px;
		padding:100px !important;
		background:none;
		@media(max-width:640px){
			padding:50px !important;
		}
		p {
			font-size: 1.1em;
			line-height: 1.6em;
			color:#333;
		}
		h3 {
			font-weight:900;
			margin:30px auto;
		}
	}
}

#content {
	#inner-content {
		background:none;
	}
}

#contact-form {
	text-align:center;
	margin:75px auto 0 auto;
	h2 {
		font-weight: 900;
		font-size: 4.5em;
		line-height: 1.2em;
		padding:25px 0;
		color:#000;
		@media(max-width:640px){
			font-size: 3em;
		}
	}
	h3 {
		text-align:center;
		font-size:2em;
		padding:0 0 50px 0;
		color:#777; 
		max-width: 640px;
		margin:0 auto;
		font-family:'Libre Baskerville', serif;
		@media(max-width:640px){
			font-size: 1.6em;
		}
	}
	form {
		max-width: 640px;
		margin:0 auto;
		input,
		textarea {
			border:none;
			border-bottom:solid 2px rgba(0,0,0,0.2);
			box-shadow:none;
			text-align: center;
			color:#999;
			margin-bottom:25px !important;
			vertical-align: baseline;
		}
		input:focus,
		textarea:focus {
			border-bottom:solid 2px rgba(0,0,0,1);
			color:#333;
		}
		textarea {
			max-height: 125px;
		}
	}
	.button {
		color: #fff;
		margin:0 auto 0 25px;
		font-family: 'Raleway',serif;
		text-shadow:1px 1px 1px rgba(0,0,0,0.2);
		text-transform: uppercase;
		font-weight: 900;
	}
	.phone {
		font-size: 2em;
		color: rgba(0,0,0,0.7);
		text-align: center;
		padding:20px;
		display: block;
		font-weight: bold;
		@media(max-width:640px){
			font-size: 1.4em;
		}
		@media(max-width:480px){
			font-size: 1.1em;
		}	
		@media(max-width:410px){
			font-size: 0.9em;
		}			
		i {
			font-size: 1em;
			padding-right:10px
		}
		h3 {
			font-family: 'Raleway',sans-serif;
			font-weight: 900;
			font-size: 1.7em;
			color: rgba(0,0,0,0.9);
			a {
				color: rgba(0,0,0,0.9);
			}
		}
	}
	.email {
		font-size: 2em;
		color: rgba(0,0,0,0.7);
		text-align: center;
		padding:20px;
		display: block;
		font-weight: bold;	
		@media(max-width:640px){
			font-size: 1.4em;
		}	
		@media(max-width:480px){
			font-size: 1.1em;
		}
		@media(max-width:410px){
			font-size: 0.9em;
		}		
		i {
			font-size: 0.7em;
			padding-right:10px;
		}
		h3 {
			font-family: 'Raleway',sans-serif;
			font-weight: 900;
			font-size: 1.1em;
			color: rgba(0,0,0,0.9);
			a {
				color: rgba(0,0,0,0.9);
			}
		}
	}

}

.page-template-contact #contact-form {
	text-align:center;
	margin:-25px auto 0 auto;
}

.footer {
	background:#000;
	padding:50px;
	margin:150px auto 0 auto;
	text-align:center;
	color:#666;
	font-size:0.8em;
	clear:both;
	display:block;
	.small {
		font-size: 0.75em;
		color: rgba(255,255,255,0.1);
		transition: all 0.5s ease;
		@media(max-width:640px){
			display: block;
		}
	}
	.small:hover {
		color: rgba(255,255,255,0.8);
	}
	h4 {
		color: rgba(255,255,255,0.5);
		font-weight: 800;
		font-size: 1.3em;
		margin:15px 0 50px 0;
		text-transform: uppercase;
	}
	#inner-footer {
		border-top:solid 1px rgba(255,255,255,0.1);
		padding-top:30px;
		max-width: 980px;
		a {
			color: rgba(255,255,255,0.4);
			margin-left:5px;
			padding-right:5px;
		}
		div {
			@media(max-width:640px){
				text-align: center;
			}
		}
	}
}


.about-black {
	margin:50px auto;
	padding:150px 0;
	background:#000;
	@media(max-width:640px){
		padding: 75px 0;
	}
}

.about-quote {
	margin:100px auto 0 auto;
	text-align: center;
	max-width: 640px;
	h3 {
		font-size:4em;
		padding:0 0 50px 0;
		color:rgba(0,0,0,0.6); 
		margin:0 auto;
		font-family:'Libre Baskerville', serif;
		@media(max-width:640px){
			font-size: 2.4em;
		}
	}
	h4 {
		font-size:2em;
		padding:0 0 50px 0;
		color:rgba(0,0,0,0.4); 
		margin:0 auto;
		font-family:'Libre Baskerville', serif;
		@media(max-width:640px){
			font-size: 1.6em;
		}
	}
}

.off-canvas-content {
	box-shadow:none;
}

.serif {
	font-family:'Libre Baskerville', serif;
}




#contact-top {
	background:#323232;
	color:#fff;
	padding:150px;
	text-align:center;
	@media(max-width:640px){
		padding:100px 20px;
	}
	h1 {
		font-weight: 900;
		font-size: 5em;
		@media(max-width:640px){
			font-size: 3em;
			line-height: 1em;
		}
	}
	h2 {
		font-size: 2em;
		@media(max-width:640px){
			font-size: 1em;
			margin:25px 0;
			line-height: 1.5em;
		}
	}
}



#work-top {
	background:pink;
	color:#fff;
	padding:150px;
	text-align:center;
	h1 {
		font-weight: 900;
		font-size: 5em;
		.serif {
			font-size: 1.1em;
		}
		@media(max-width:640px){
			font-size: 3em;
		}
	}
	h2 {
		font-size: 2em;
		@media(max-width:640px){
			font-size: 1.6em;
		}
	}
}




#main-page {
	margin:-90px auto 0 auto;
}


.about-black {
	margin:0 auto;
}


.about-black #main {
	max-width:800px;
	margin:0 auto;
	float:none;
	text-align:center;
	h1 {
		font-weight: 900;
		font-size: 5em;
		color: #fff;
		color: rgba(255,255,255,1);
		@media(max-width:640px){
			font-size: 3em;
		}
	}
	h2 {
		font-size: 2em;
		color: rgba(255,255,255,0.7);
		margin-bottom:50px;
		@media(max-width:640px){
			font-size: 1.6em;
		}
	}
	p {
		font-size: 1.2em;
		color: rgba(255,255,255,0.9);
		@media(max-width:640px){
			font-size: 1.1em;
		}
	}
}

#service-boxes {
	text-align:center;
	max-width:980px;
	margin:75px auto;
	h2 {
		font-weight: 900;
		font-size: 5em;
	}
	.bottompad {
		margin-bottom: 70px;
		max-width: 640px;
		margin:-20px auto 100px auto;
		font-size: 1.2em;
		color: rgba(0,0,0,0.7);
		@media(max-width:640px){
			font-size: 1em;
			line-height: 1.8em;
			padding:20px;
			margin:-75px auto 50px auto;
		}
	}
	.service-box {
		float: left;
		width: 50%;
		text-align: center;
		margin-bottom: 40px;
		@media(max-width:800px){
			width:100%;
		}
		.service-info {
			background:#434343;
			padding:30px;
			margin:0;
			h3 {
				font-weight: 800;
				font-size: 2em;
				color: rgba(255,255,255,1);
				@media(max-width:640px){
					font-size: 1.6em;
				}
			}			
			p {
				font-size: 1.1em;
				color: rgba(255,255,255,0.7);
			}
		}
	}
}















// DC

div.fullscreenmenu {
	position: fixed;
	width: 100%;
	height: 100%;
	font-size: 10px; /* base front size. */
	background: rgba(0,0,0,0.9) !important;
	text-align: center;
	overflow: auto;
	z-index: 9999 !important;
	-webkit-transition: all 0.3s ease; /* set transition type and time */
	transition: all 0.3s ease;
	opacity: 0.8;
}
div.fullscreenmenu .navcontent {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
div.fullscreenmenu ul.nav-menu {
	font-size: 6em;
	font-family: 'Bitter', sans-serif;
	list-style: none;
	margin: 200px auto !important;
	padding: 0;
	display: block;
	float:none;
	width: 100%;
}
@media(max-width:640px){
	div.fullscreenmenu ul.nav-menu {
		font-size: 3.5em;
		margin: 150px auto !important;;
	}	
}
@media(max-width:374px){
	div.fullscreenmenu ul.nav-menu {
		margin: 125px auto !important;;
	}	
}
div.fullscreenmenu ul.nav-menu li {
	display: block;
	text-align: center;
	float: none;
	list-style: none;
	width: 100%;
}


div.fullscreenmenu ul.nav-menu li a:hover {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	background:#fff;
	color:#000 !important;
	cursor: pointer;
}

div.fullscreenmenu ul.nav-menu li a {
	text-decoration: none;
	padding: 5px 0;
	display: block;
	color: #268ecf;
}

div.fullscreenmenu.top {
	top: -100%;
	left:0;
}
div.fullscreenmenu.left {
	left: -100%;
	top:0;
}
div.fullscreenmenu.bottom {
	bottom: -100%;
	left:0;
}
div.fullscreenmenu.right {
	right: -100%;
	top:0;
}
div.fullscreenmenu.open {
	z-index: 9999;
}
div.fullscreenmenu.top.open {
	top: 0;
	z-index: 999;
}
div.fullscreenmenu.left.open {
	left: 0;
	z-index: 999;
}
div.fullscreenmenu.right.open {
	right: 0;
	z-index: 999;
}
div.fullscreenmenu.bottom.open {
	bottom: 0;
	z-index: 999;
}
/* ############# Animated Drawer icon CSS ############# */



.animateddrawer {
	width: 3.5em;
	height: 2.75em;
	outline: none;
	display: block;
	position: relative;
	z-index: auto;
}



.animateddrawer:before, 
.animateddrawer:after {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 0.6em; /* height of top and bottom drawer line */
	background: #268ecf;
	border-radius: 2px;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: 9999;
	-webkit-transition: all 0.3s ease; /* set transition type and time */
	transition: all 0.3s ease;
}

.animateddrawer:after {
	top: auto;
	bottom: 0;
}

.animateddrawer span {
	width: 100%;
	height: 0.6em; /* height of middle drawer line */
	background: #268ecf;
	position: absolute;
	top: 50%;
	margin-top: -0.3em; /* set this to - half of middle drawer line height */
	border-radius: 2px;
	-webkit-transition: all 0.3s ease-in; /* set transition type and time */
	transition: all 0.3s ease-in;
}

.animateddrawer span::after {
 content: '';
 display: block;
 width: 100%;
 height: 0.6em; //height of middle drawer line /
 background: #268ecf;
 border-radius: 2px;
 position: absolute;
 -ms-transform-origin: 50% 50%;
 -webkit-transform-origin: 50% 50%;
 transform-origin: 50% 50%;
 -webkit-transition: all 0.3s ease; // set transition type and time/
 transition: all 0.3s ease;
}

.animateddrawer.open {
	position: fixed;
	top: 60px !important; 
	right: 60px !important;
	background: transparent;
	z-index:9999;
	color:#268ecf;
}

.animateddrawer.open span {
	display:none !important;
}

.animateddrawer.open:after { // style when .open class is added to button 
	bottom: 50%;
	color:#268ecf;
}
.animateddrawer:before { // style when .open class is added to button /
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.animateddrawer:after { // style when .open class is added to button /
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.animateddrawer.open:before { // style when .open class is added to button /
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	color:#268ecf;
	top: 4px !important;
}
.animateddrawer.open:after { // style when .open class is added to button /
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	color:#268ecf;
    top: 4px !important;
}



.animateddrawer {
    position: absolute;
    top: 30px !important;
    z-index: 99999 !important;
    color: #268ecf;
    right: 20px;
    font-size: 6px !important; 
}

.animateddrawer.open {
    position: absolute;
    top: 30px !important;
    z-index: 999999 !important;
    color: #268ecf;
    right: 20px !important;
}

@media(max-width:640px){
	.animateddrawer{
		font-size: 5px !important;
		top: 25px !important;
		right: 25px;
	}
	.animateddrawer.open {
		top: 25px !important;
		right: 25px;
	}
}


.cimg {
  position: absolute;
  right: 15px;
  top: 30px;
  width: 37px;
}



@media(max-width: 640px){
 .homepage-top-text h1 {
    font-size: 2.2em;
 }
 .homepage-top-text h2 {
    font-size: 1.4em;
 }
}
